name: 00-starter
services:
  nextjs:
    container_name: starter-nextjs
    restart: always
    network_mode: host
    image: nextjs
    build:
      network: host
      context: ../
      dockerfile: ops/Dockerfile.nextjs
      args:
        - DATABASE_URL=${DATABASE_URL}
        - NEXT_PUBLIC_FASTAPI_SERVER=${NEXT_PUBLIC_FASTAPI_SERVER}
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp

  fastapi:
    container_name: starter-fastapi
    restart: always
    network_mode: host
    image: python
    build:
      network: host
      context: ../
      dockerfile: ops/Dockerfile.python
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - PYTHONPATH=/app
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp
    command:
      - uvicorn
      - src.fastapi.main:app
      - --host
      - "0.0.0.0"
      - --port
      - ${NEXT_PUBLIC_FASTAPI_PORT}

  rq:
    container_name: starter-rq
    restart: always
    network_mode: host
    image: python
    build:
      network: host
      context: ../
      dockerfile: ops/Dockerfile.python
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - PYTHONPATH=/app
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp
    command:
      - rq
      - worker
      - --with-scheduler

volumes:
  tmp:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "../tmp"
