name: 29-starter-kit-2025
services:
  nextjs:
    container_name: starter-kit-nextjs
    restart: always
    network_mode: host
    image: registry.gitlab.com/starliz/prod/29-starter-kit-2025/nextjs:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - NEXT_PUBLIC_NEXTJS_PORT=${NEXT_PUBLIC_NEXTJS_PORT}
      - NEXT_PUBLIC_BETTER_AUTH_URL=${NEXT_PUBLIC_BETTER_AUTH_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp

  fastapi:
    container_name: starter-kit-fastapi
    restart: always
    network_mode: host
    image: registry.gitlab.com/starliz/prod/29-starter-kit-2025/python:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - PYTHONPATH=/app
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp
    command:
      - uvicorn
      - src.fastapi.main:app
      - --host
      - "0.0.0.0"
      - --port
      - ${NEXT_PUBLIC_FASTAPI_PORT}

  rq:
    restart: always
    network_mode: host
    image: registry.gitlab.com/starliz/prod/29-starter-kit-2025/python:latest
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - PYTHONPATH=/app
    env_file:
      - ../.env
    volumes:
      - tmp:/app/tmp
    command:
      - rq
      - worker
      - --with-scheduler
    deploy:
      replicas: 2

volumes:
  tmp:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "../tmp"
